<div class="question">
    <strong><%= "You:" %></strong>
    <%= params[:question] %>
</div>
<div class="answer">
    <strong><%= "Your Coach:" %></strong>
    <%= @coach_answer %>
</div>
<div>
    <a href="/ask">Ask a new question</a>
</div>
